<form asp-method =" post" asp-action="Result">
    <h1 class=" text-center" class="" id="registration" >Registration</h1>
    <div class="align-content-around"; class="">
           <label for="firstname">First Name:</label>
       <p> 
            <input type="text" name="firstname" id="firstname" />
        </p>
       <label for=" lastname">Last Name:</label>
       <p>
        <input type="text" name="lastname" id="lastname" />
       </p> 

        <label for="email">Email:</label>
        <p>
        <input type="email" name="email" id="email" />
        </p>
       <label for=" password">Password:</label>
       <p>
        <input type="text" name="password" id="password" />
       </p>





        <input type="submit" />
    </div>
    
</form>
