@model CoffeeModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Get Down Coffee</h1>
    <button class="rounded"type="button"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CoffeeView">New User Registration</a>.</button>
</div>
