@model CoffeeModel
<div class="text-center"  "@Model.firstname ! Welcome to the Get Down Coffee Registry.</div>
 @* <p>Last Name: @Model.lastname</p>
<p>Email: @Model.email</p>
<p>Password: @Model.password</p>   
 *@
